.footerSocialLinksChild {
    width: 1200px;
    height: 1754px;
    position: relative;
    background: linear-gradient(
      180deg,
      #000,
      rgba(93, 44, 168, 0.85) 57.83%,
      #000
    );
    display: none;
    max-width: 100%;
  }
  .body,
  .h2 {
    margin: 0;
    align-self: stretch;
    position: relative;
  }
  .h2 {
    font-size: inherit;
    letter-spacing: -0.06em;
    line-height: 62px;
    font-weight: 700;
    font-family: inherit;
  }
  .body {
    font-size: var(--body-large-size);
    letter-spacing: -0.04em;
    line-height: 31px;
    font-weight: 400;
    font-family: var(--body-bold);
  }
  .cardElements1,
  .cardElements2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .cardElements2 {
    align-self: stretch;
    gap: var(--gap-xl);
  }
  .cardElements1 {
    width: 540px;
    max-width: 100%;
  }
  .appNightIcon {
    align-self: stretch;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 4px;
    width: 100%;
    transform: scale(1.071);
  }
  .cardElements,
  .wrapperAppNight {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapperAppNight {
    height: 678px;
    position: relative;
    flex-shrink: 0;
  }
  .cardElements {
    flex-direction: column;
    gap: var(--gap-41xl);
    max-width: 100%;
    z-index: 1;
  }
  .h21 {
    margin: 0;
    width: 650px;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.06em;
    line-height: 60px;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    z-index: 1;
  }
  .h2Wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-4xs) 0 var(--padding-base);
  }
  .howDoesThe {
    flex: 1;
    position: relative;
    letter-spacing: -0.03em;
    display: inline-block;
    min-width: 237px;
    flex-shrink: 0;
    /* debug_commit: f6aba90; */
  }
  .vectorIcon {
    height: 18.8px;
    width: 18.8px;
    position: relative;
  }
  .howPricingWorksLabel {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: var(--padding-10xs);
    box-sizing: border-box;
    width: 24.8px;
    height: 24.8px;
  }
  .formfaq,
  .howDoesThe1,
  .howPricingWorksLabel {
    flex-shrink: 0;
    /* debug_commit: f6aba90; */
  }
  .formfaq {
    align-self: stretch;
    border-bottom: 1px solid var(--color-gray-800);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-11xl) 0;
  }
  .howDoesThe1 {
    flex: 1;
    position: relative;
    letter-spacing: -0.03em;
    display: inline-block;
    min-width: 237px;
  }
  .vectorIcon1 {
    height: 18.8px;
    width: 18.8px;
    position: relative;
  }
  .formfaq1,
  .frame {
    display: flex;
    flex-direction: row;
  }
  .frame {
    overflow: hidden;
    align-items: center;
    justify-content: flex-end;
    padding: var(--padding-10xs);
    flex-shrink: 0;
    /* debug_commit: f6aba90; */
  }
  .formfaq1 {
    align-self: stretch;
    border-bottom: 1px solid var(--color-gray-800);
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-11xl) 0;
    max-width: 100%;
    row-gap: 20px;
  }
  .howDoesThe2 {
    flex: 1;
    position: relative;
    letter-spacing: -0.03em;
    display: inline-block;
    min-width: 237px;
    flex-shrink: 0;
    /* debug_commit: f6aba90; */
  }
  .vectorIcon2 {
    height: 18.8px;
    width: 18.8px;
    position: relative;
  }
  .formfaq2,
  .frame1 {
    display: flex;
    flex-direction: row;
  }
  .frame1 {
    overflow: hidden;
    align-items: center;
    justify-content: flex-end;
    padding: var(--padding-10xs);
    flex-shrink: 0;
    /* debug_commit: f6aba90; */
  }
  .formfaq2 {
    align-self: stretch;
    border-bottom: 1px solid var(--color-gray-800);
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-11xl) 0;
    max-width: 100%;
    row-gap: 20px;
    z-index: 1;
    margin-top: -0.1px;
  }
  .formfaqParent,
  .howDoesThe3 {
    flex-shrink: 0;
    /* debug_commit: f6aba90; */
  }
  .formfaqParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .howDoesThe3 {
    flex: 1;
    position: relative;
    letter-spacing: -0.03em;
    display: inline-block;
    min-width: 237px;
  }
  .vectorIcon3 {
    height: 18.8px;
    width: 18.8px;
    position: relative;
  }
  .frame2 {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: var(--padding-10xs);
    flex-shrink: 0;
    /* debug_commit: f6aba90; */
  }
  .faqs,
  .formfaq3,
  .frameParent {
    display: flex;
    justify-content: flex-start;
  }
  .formfaq3 {
    align-self: stretch;
    border-bottom: 1px solid var(--color-gray-800);
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: var(--padding-11xl) 0;
    flex-shrink: 0;
    /* debug_commit: f6aba90; */
  }
  .faqs,
  .frameParent {
    flex-direction: column;
    max-width: 100%;
  }
  .faqs {
    align-self: stretch;
    height: 339px;
    align-items: flex-start;
    padding: 0 var(--padding-12xs) var(--padding-65xl-7);
    box-sizing: border-box;
    z-index: 1;
    text-align: left;
    font-size: var(--h5-size);
  }
  .frameParent {
    width: 475px;
    align-items: flex-end;
    gap: var(--gap-28xl);
  }
  .navBarDesktopInstance {
    width: 1077px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
  }
  .footerSocialLinks {
    align-self: stretch;
    background: linear-gradient(
      180deg,
      #000,
      rgba(93, 44, 168, 0.85) 57.83%,
      #000
    );
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--padding-49xl) var(--padding-43xl) var(--padding-163xl)
      var(--padding-27xl);
    box-sizing: border-box;
    gap: var(--gap-126xl);
    max-width: 100%;
    text-align: center;
    font-size: var(--h2-size);
    color: var(--color-white);
    font-family: var(--body-small-tag);
  }
  @media screen and (max-width: 1200px) {
    .cardElements {
      gap: var(--gap-11xl);
    }
    .footerSocialLinks {
      padding-top: var(--padding-25xl);
      padding-bottom: var(--padding-99xl);
      box-sizing: border-box;
    }
  }

  @media screen and (max-width: 810px) {
    .faqs {
      height: auto;
    }
    .frameParent {
      gap: var(--gap-4xl);
    }
    .footerSocialLinks {
      gap: var(--gap-53xl);
      padding: var(--padding-25xl) var(--padding-12xl) var(--padding-99xl)
        var(--padding-4xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 390px) {
    .h2 {
      font-size: var(--font-size-13xl);
      line-height: 36px;
    }
    .body {
      font-size: var(--h5-size);
      line-height: 25px;
    }
    .h21 {
      font-size: var(--font-size-13xl);
      line-height: 36px;
    }
    .faqs,
    .footerSocialLinks {
      padding-bottom: var(--padding-36xl);
      box-sizing: border-box;
    }
    .footerSocialLinks {
      gap: var(--gap-17xl);
      padding-top: var(--padding-xl);
      padding-bottom: var(--padding-31xl);
    }
  }
  